<div>
  <div>
    <h1>My dashboard</h1>
  </div>
  <div>
    <div>
      <h2>Sneakers waiting for acceptation </h2>
    </div>
    <div class="main-containers">
        <div style="display: flex">
          <div id="cards" class='col-8 '>
            <% @current_user_bookings.each do |booking| %>
              <div class= "booking-card">
                <div class="sneaker-image">
                  <% if booking.sneaker.image.attached? %>
                    <%= cl_image_tag booking.sneaker.image.key, height: 300, width: 400, crop: :fill %></p>
                  <% else %>
                    <%= image_tag('sneak.png') %>
                  <% end %>
                </div>
                <div class="sneaker-content">
                  <h5>Start date: <%= booking.start_date.strftime('%d-%m-%Y')%> -</h5>
                  <h5>End date: <%= booking.end_date.strftime('%d-%m-%Y')%></h5>
                  <h5> <%= booking.sneaker.name %></h5>
                  <h5> <%= booking.user.first_name %></h5>
                </div>
                <div class="status-button <%= booking.approved %>">
                  <% if booking.approved == nil %>
                    Pending...
                  <% elsif  booking.approved == true %>
                    Accepted
                  <% else %>
                    Refused
                  <% end %>
                </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  <div>
    <div>
      <h2>Sneakers to review<h2>
    </div>
    <div class="main-containers">
        <div style="display: flex">
          <div id="cards" class='col-8 '>
            <% @bookings_ordered.each do |booking| %>
              <div class= "booking-card">
                <div class="sneaker-image">
                  <% if booking.sneaker.image.attached? %>
                    <%= cl_image_tag booking.sneaker.image.key, height: 300, width: 400, crop: :fill %></p>
                  <% else %>
                    <%= image_tag('sneak.png') %>
                  <% end %>
                </div>
                <div class="sneaker-content">
                  <h5>Start date: <%= booking.start_date.strftime('%d-%m-%Y')%> -</h5>
                  <h5>End date: <%= booking.end_date.strftime('%d-%m-%Y')%></h5>
                  <h5> <%= booking.sneaker.name %></h5>
                  <h5> <%= booking.user.first_name %></h5>
                </div>
                <div class="approve-refuse-btn">
                  <%= link_to "approve", approve_booking_path(booking) %>
                  <%= link_to "refuse", refuse_booking_path(booking)  %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h2>>My sneakers</h2>
    </div>
    <div>
      <div class="main-containers">
        <div style="display: flex">
          <div id="cards" class='col-8 '>
            <% @my_sneakers.each do |sneaker| %>
              <div class="sneaker-image">
                <% if sneaker.image.attached? %>
                  <%= cl_image_tag sneaker.image.key, height: 300, width: 400, crop: :fill %></p>
                <% else %>
                  <%= image_tag('sneak.png') %>
                <% end %>
              </div>
              <div class="sneaker-content">
                <p><%= sneaker.name %></p>
                <p><%= sneaker.size %></p>
                <p><%= sneaker.price %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
