<p>My shoes waiting for acceptation</p>

<div class='container'>
  <div class="row">
    <% @current_user_bookings.each do |booking| %>
      <div class='col'>
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <p class="card-text">
              Start date: <%= booking.start_date%>
              End date: <%= booking.end_date%>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>


        <%= booking.approved%>
        <%= booking.review %>
        <%= booking.rating%>
    <% end %>
  </div>

  <p>The shoes I want to rent </p>

  <div class="row">
    <% @bookings_ordered.each do |b| %>
  <% booking = Booking.find(b["id"]) %>
      <div class='col'>
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <p class="card-text">
              Start date: <%= booking.start_date%>
              End date: <%= booking.end_date%>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>


        <%= booking.approved%>
        <%= booking.review %>
        <%= booking.rating%>
    <% end %>
  </div>
</div>
