<%= render 'shared/searchbar' %>
<div>
<%= form_tag sneakers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your sneakers"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

</div>
<div class="card-title">
<h1> 10 sneakers found</h1>
</div>
<div class="main-containers">
  <div style="display: flex">
    <div id="cards" class='col-8 '>
      <% @sneakers.each do |sneaker| %>
        <%= link_to sneaker_path(sneaker) do %>
          <div class= "card">
            <% if sneaker.image.attached? %>
              <p><%= cl_image_tag sneaker.image.key %></p>
            <% else %>
              <p><%= image_tag('sneak.png') %></p>
            <% end %>
          <div id= "details">
            <h4><%= sneaker.brand %></h4>
            <h4><%= sneaker.name %></h4>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="map  col-4">
      <%#= image_tag('map.png') %>
    </div>
  </div>
</div>
