	<link type="text/css" rel="stylesheet" href="index.scss"/>
<ul>
  <% @sneakers.each do |sneaker| %>
    <li><%= sneaker.brand %></li>
    <li><%= sneaker.name %></li>
    <li><%= sneaker.size %></li>
    <li><%= sneaker.price %></li>
  <% end %>
</ul>

<h1> 14 sneakers found</h1>
<div class="main-container">
  <div style="display: flex">
    <div id="card">
      <%= image_tag('sneak.png') %>
      <%= image_tag('sneak.png') %>
      <%= image_tag('sneak.png') %>
      <%= image_tag('sneak.png') %>
      <%= image_tag('sneak.png') %>
      <%= image_tag('sneak.png') %>
      <%= image_tag('sneak.png') %>
      <%= image_tag('sneak.png') %>
    </div>

    <div class="map">
      <%= image_tag('map.png') %>
    </div>
  </div>
</div>
