
<div class='container m-5'>

  <div class="search-form-control form-group mb-5">
    <%= form_tag sneakers_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: 'form-control string required', placeholder: "Find your sneakers" %>
      <%= submit_tag "Pick'a'Sneack", class: "btn btn-flat" %>
    <% end %>
  </div>

  <div class="dashboard-content-title">
    <h2>👇 Here's your sneaky sna-acks!👇</h2>
  </div>

  <div class="content-container">
    <div id="cards" class='col-8 '>
      <% @sneakers.each do |sneaker| %>
        <div class= "card">
          <%= link_to sneaker_path(sneaker) do %>
            <div class="card-image">
              <% if sneaker.image.attached? %>
              <%= cl_image_tag sneaker.image.key %>
              <% else %>
              <%= image_tag('sneak.png') %></p>
              <% end %>
            </div>
            <div class="card-details">
              <h4>Brand:</h4>
              <h5><%= sneaker.brand %></h5>
              <h4>Model:</h4>
              <h5><%= sneaker.name %></h5>
              <h4>Price:</h4>
              <h5><%= sneaker.price %> €</h5>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="map  col-4" id="mapboxgl-popup">
      <div style="width: 450px; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
